body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.hero {
    height: 650px;
    display: flex;
    justify-content: space-between;
    
    
    background: linear-gradient(to bottom,#122D64, #82A0DC);
    color: white;
}
.owlmascot {
width: 800px;
height: auto;

}

.hero-text {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    margin-top: 7%;
    max-width: 77%;
    margin-left: 40px;
}
.wt {
   
    
    margin-left: 7px;
    font-size: 24px;
    font-weight: bold;
}
.se {
    margin-top: -10px;
    font-size: 95px;
    font-weight: bold;
    
}
.p1 {
    font-size: 24px;
    font-weight: bold;
}

button {
    margin-top: 10px;
    background-color: #C97920;
    border-radius: 6px;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.learning-style, .topics {
    text-align: center;
    padding: 50px;
    background: white;
}

.options {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.option {
    background-color: #eee;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 150px;
    text-align: center;
}

.card button {
    margin-top: 10px;
}



.container {
    background: linear-gradient(to bottom,#1F3A72 0%, #82A0DD 90%);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
    padding: 20px;
    
}
.right-section, .left-section {
    flex: 1;
}
.left-section {
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.owl-img {
    margin-left: -90px;
    height: 370px;
    
    margin-top: -170px;

    
}
.owls {
    
    margin-right: 50px;
    
    width: 30%;

    
}
.cy {
    
    margin-top: 50px;
    color: white;
    font-family: "Manrope", sans-serif;
    font-size: 25px;
    font-weight: bold;

}
.text-box {
    margin-top: 50px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    color: black;
    justify-content: center;
    display: flex;
    width: 70%;
    height: 40%;
    
    
}

.highlight {
    margin-left: 4%;
    font-size: 20px;
    font-weight: bold;
    color: #E67E22;
    font-family: "manrope", sans-serif;
    margin-top: 7%;
    
    
}

.right-section {
    
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    
    width: 50%;
}
.top {
    margin-top: 25px;
    display: flex;
    color: white;
}
.bot {
    display: flex;
    color: white;
}
.option {
    margin-top: 5px;
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    
    background: white;
    width: 85px;

    
    border-radius: 15px;
    color: black;
}
.vid, .rid {
    font-family: "Manrope", sans-serif;
    font-weight: bold;
}
.top-p, .bot-p {
    margin-left: 3%;
    font-weight: 15px;
    font-family: "Manrope", sans-serif;
    margin-top: 60px;
    font-size: 20px;
    width: 45%;
}
.viddd{
    width: 60px;
    height: auto;
}
.readdd {
    width: 70px;
    height: auto;
}
.video-icon {
    margin-top: 10px;
    background: url('video-icon.png') no-repeat center;
    
    
}

.read-icon {
    margin-top: 10px;
    background: url('read-icon.png') no-repeat center;
    
}
.option-text{
    margin-top: 20px;
    background-color: seashell;
    height: 20px;
    
}

.container2 {
    flex-basis: 100%;
    margin-top: 5%;
}

.pt {
    margin-left: 11%;
    margin-bottom: 3%;
    color: black;
    font-size: 30px;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
}

.topics-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.topic-card {
    background: white;
    padding: 15px;
    margin-left: 2%;
    border-radius: 15px;
    box-shadow: 2px 5px 13px rgba(0, 0, 0, 0.1);
    width: 240px;
    position: relative;
    
}

.star {
    position: absolute;
    top: -10px;
    left: -10px;
    font-size: 24px;
    color: orange;
}
.stars {
    width: 40px;
    height: auto;
}
h3 {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 20px;
}

p {
    font-weight: 10px;
    padding-left: 16%;
    font-size: 14px;
    
}

.view-btn {

    background-color: #C97920;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.btn-align {
    
    padding-left: 35%;
    
}
.view-more {
    display: flex;
    justify-content: center;
    width: 7%;
    margin-bottom: 20px;
    color: #122D64;
    margin-top: 50px;
    font-size: 20px;
    cursor: pointer;
}
.vmore {
    display: flex;
    justify-content: center;
    
}
.customization-section {
    display: flex;
    margin-top: 7%;
    
 
}
.persobutton {
    text-align: right;
}
.personalize-btn {
    background-color: #C97920;
    color: white;
    border: none;
    padding: 15px 35px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
}

.lefty {
    color: black;
    margin-left: 10%;
    margin-top: 5%;
    width: 60%;
    
    
    font-size: 20px;
}
.paragraph {
    text-align: justify;
}

@media screen and (max-width: 768px) {
.owlmascot {
 display: none;
}
.hero-image {
    background-color: black;
    width: 0px;
    height: 0px;
}
body {
    margin: 0;
    padding: 0;
    background-color:black;
    color: #333;
}
.hero {
    max-width: 100%;
    background: linear-gradient(to bottom,#122D64, #82A0DC);
    color: white;
    height: 300px;
}
.hero-text {
    font-family: "Manrope", sans-serif;
margin-top: 10%;
margin-left: 20px;

}

.wt {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}
.se {
    margin-top: -10px;
    font-size: 45px;
    font-weight: bold;
}
.p1 {
    font-size: 14px;
    font-weight: bold;
}
.parag1 {
    font-size: 10px;
    
    margin-right: 23px;
}

.gt {
    margin-top: 30px;
    background-color: #C97920;
    border-radius: 6px;
    color: white;
    padding: 12px 18px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}


.container {
    background: linear-gradient(to bottom,#1F3A72 0%, #82A0DD 90%);
    margin: 0px;
    padding: 0px;
    display: flex;
    max-width: 100%;
    flex-direction:column;
}
.left-section {
    width: 100%;
    max-width: 100%;
    align-items: left;
    padding: 0px;
    margin: 0px;
 
}
.cy {
    margin-top: 30px;
    color: white;
    font-family: "Manrope", sans-serif;
    font-size: 19px;
    font-weight: bold;
    margin-right: 30px;
    

}
.text-box {
    margin-top: 20px;
    margin-right: 10px;
    background: white;
    border-radius: 15px;
    color: black;
    justify-content: center;
    display: flex;
    width: 85%;
    height: 20%;
    margin-bottom: 20px;

    
}
.owl-img {
    margin-left: -50px;
    height: 250px;
    margin-top: -70px;
    margin-bottom: -40px;

    
}

.highlight {
    margin-left: 4%;
    font-size: 16px;
    font-weight: bold;
    color: #E67E22;
    font-family: "manrope", sans-serif;
    margin-top: 10%;
    
    
}
.right-section {
   
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    margin-left: 0px;
    margin-top: 10px;
    
}
.top {
    margin-top: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    max-width: 50%;
    width: 50%;
    flex-direction: column;
    
    color: white;
}
.bot {
    
    display: flex;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
    max-width: 50%;
    width: 50%;
    color: white;
}
.option {
    height: 40px;
    margin-bottom: 10px;
    background: white;
    width: 60px;
    height: 80px;
    margin: 0px;
    border-radius: 15px;
    color: black;
}
.viddd{
    width: 40px;
    height: auto;
}
.readdd {
    width: 40px;
    height: auto;
}
.video-icon {
    margin-top: 10px;
    background: url('video-icon.png') no-repeat center;
    
    
}

.read-icon {
    margin-top: 10px;
    background: url('read-icon.png') no-repeat center;
    
}
.top-p, .bot-p {
    color: black;
    text-align: center;
    font-weight: 15px;
    font-family: "Manrope", sans-serif;
    margin-top: 10px;
    font-size: 13px;
    width: 65%;
}


.container2 {
    
    margin-top: 5%;
}

.pt {
    margin-left: 11%;
    margin-bottom: 3%;
    color: black;
    font-size: 30px;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
}

.topics-container {
    
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.topic-card {
    background: white;
    padding: 15px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 15px;
    box-shadow: 2px 5px 13px rgba(0, 0, 0, 0.1);
    width: 140px;
    position: relative;
    
}

.star {
    position: absolute;
    top: -10px;
    left: -10px;
    font-size: 24px;
    color: orange;
}
.stars {
    width: 40px;
    height: auto;
}
h3 {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: 1px;
}

p {
    margin: 1px;
    padding-top: 0px;
    font-weight: 10px;
    padding-left: 0%;
    font-size: 12px;
    
}
.view-btn {

    background-color: #C97920;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px;
}
.btn-align {
    padding-left: 30px;
    
}

.customization-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 5% auto;
    padding: 10px;
}
.view-more {
    display: flex;
    justify-content: center;
    width: 150px;
    font-weight: bold;
    margin-bottom: 0px;
    color: #122D64;
    
    margin-top: 50px;
    font-size: 15px;
    cursor: pointer;
}
.vmore {
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    
}
.lefty {
    width: 90%;
    margin-left: 0;
    font-size: 13px;
    margin-top: 5%;
    margin-right: 15px;
}

.paragraph {
    font-size: 13.37px;
    overflow: hidden;
    text-align: left;
    margin-right: 16px;
    height: 62px;
    width: 80%;
    
}

.persobutton {
    text-align: left;
}

.personalize-btn {
    background-color: #C97920;
    color: white;
    border: none;
    padding: 15px 35px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
}

.rightright {
  
    margin-bottom: 20px;
    margin-top: 20px;
}

.mascot {
    display: flex;
    position: absolute;
    margin-top: -80px;
    margin-left: 30px;
   
}

.lezgo {
    width: 130px; /* Adjust mascot size */
    height: auto;
}



}
